.about_box {
    padding: 10rem 15rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2.2rem;
}

.about_box p {
    font-size: 1.1rem;
    line-height: 2.8rem;
    font-family: "Poppins", sans-serif;
}

.about_heading {
    font-size: 3.4rem;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 700;
    color: #000;
}

@media(max-width : 767px) {

    .about_box {
        padding: 5rem 7rem;
    }

}

@media(max-width : 350px) {

    .about_box {
        padding: 1rem;

    }

}