@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500&display=swap');

.key_board {
    background: linear-gradient(0deg, #28282B, #28282B),
        linear-gradient(180deg, rgba(255, 255, 255, 0.14) 14.52%, rgba(255, 255, 255, 0.08) 87.38%);
    max-width: 1280px;
    width: 85.5vw;
    color: #FFFFFF;
    aspect-ratio: 16, 8;
    font-family: 'Plus Jakarta Sans', sans-serif;
    display: flex;
    flex-wrap: wrap;
    padding: 9px;
    border-radius: 12px;
}

.mid_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.status_row {
    width: 100%;
    padding: 10px 0;
    display: flex;
    height: 60px;
}

.status_row div {
    width: 33%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.lights span {
    width: 11px;
    height: 8px;
    top: 22px;
    /* background-color: #dbb921; */
    border-radius: 3px;
}

.last_keys {
    display: flex;
    flex-direction: column;
}

.lastColumn {
    gap: 7px 6px;
    display: flex;
    flex-direction: column;
    margin-left: 3px;
}

.num_pad {
    /* margin: 0 1rem; */
    display: flex;
    flex-wrap: wrap;
    gap: 7px 6px;
    width: 170px;
    height: fit-content;
}

.mid_keys,
.arrow_btns {
    margin: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 7px 6px;
    width: 166.5px;
}

.primary_btn {
    width: 50px;
    background: linear-gradient(0deg, #000000, #000000),
        linear-gradient(0deg, #191A1F, #191A1F),
        linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.06) 100%);
    border: 1.66px solid #000000;
    box-shadow: 0px 2.4918885231018066px 0.8306294679641724px 0px #FFFFFF26 inset;
    width: 51.5px;
    height: 49.84px;
    border-radius: 4.98px;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: .5px;
    text-align: left;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.main_keys {
    display: flex;
    flex-wrap: wrap;
    gap: 7px 6px;
    width: 830px;
}

#mainBtn1 {
    width: 80.57px;
    justify-content: flex-end !important;
    align-items: flex-start !important;
    font-size: 11px;
}

#mainBtn28 {
    width: 80.57px;
    justify-content: flex-end !important;
    align-items: flex-end !important;
    font-size: 11px;
}

#mainBtn29 {
    width: 79.74px;
    height: 49.84px;
    justify-content: flex-end !important;
    align-items: flex-start !important;
    font-size: 11px;
}

.functional_keys {
    justify-content: flex-end !important;
    font-size: 8.3px;
    line-height: 10px;
}

.mb-1 {
    margin-bottom: 8px;
}

#arrowBtn1 {
    margin: 0 3.6rem;
}

.mb-2 {
    margin-bottom: 5px;
}

#mainBtn43 {
    width: 94.69px;
    justify-content: flex-end !important;
    align-items: flex-start !important;
    font-size: 11px;
}


#mainBtn55 {
    width: 95.52px;
    justify-content: flex-end !important;
    align-items: flex-end !important;
    font-size: 11px;
}

#mainBtn56 {
    width: 123.76px;
    justify-content: flex-end !important;
    align-items: flex-start !important;
    font-size: 11px;
}

#mainBtn67 {
    width: 123.76px;
    justify-content: flex-end !important;
    align-items: flex-end !important;
    font-size: 11px;
}

#mainBtn68 {
    width: 79.74px;
    justify-content: flex-end !important;
    align-items: flex-start !important;
    font-size: 11px;
}

#mainBtn69 {
    width: 66.45px;
    justify-content: flex-end !important;
    align-items: flex-end !important;
    font-size: 11px;
}

#mainBtn70 {
    width: 80.57px;
    justify-content: flex-end !important;
    align-items: flex-end !important;
    font-size: 11px;
}

#mainBtn71 {
    width: 339.22px;
    justify-content: flex-end !important;
    align-items: flex-end !important;
    font-size: 11px;
}

#mainBtn72 {
    width: 80.57px;
    justify-content: flex-end !important;
    align-items: flex-end !important;
    font-size: 11px;
}


#mainBtn73 {
    width: 66.45px;
    justify-content: flex-end !important;
    align-items: flex-end !important;
    font-size: 11px;
}


#mainBtn74 {
    width: 80.57px;
    justify-content: flex-end !important;
    align-items: flex-end !important;
    font-size: 11px;
}

#numPadBtn15,
#numPadBtn16 {
    height: 108px;
}

#numPadBtn13 {
    width: 110px;
}